<ul class="nav nav-list pull-left">
    <li>
        <a data-toggle="menu" href="#menu">
            <span class="icon icon-lg">menu</span>
        </a>
    </li>
</ul>
<a class="header-logo margin-left-no" href="#">Personal Library</a>
<div class="header-affix pull-left" data-offset-top="108" data-spy="affix">
			<span class="header-text margin-left-no">
				<i class="icon margin-right">chevron_right</i>Cards
			</span>
</div>
<ul class="nav nav-list pull-right">
    <li>
        <a data-toggle="menu" href="#profile">
            <span class="access-hide">John Smith</span>
                <span class="avatar">
                    <img alt="alt text for John Smith avatar" src="/images/users/avatar-001.jpg">
                </span>
        </a>
    </li>
</ul>